body{
	font-family: 'Roboto', sans-serif;
}
.services{
	padding-bottom:  70px;
}
.menu{
	background-color: white;
	
}

.navbar{
	padding: 2.0rem 1rem;
	
}


/* Style the search box inside the navigation bar */

.fa{
	border-radius: 2px;
	visibility:visible;
}
.btn1{
	margin-left: 40px;
}
.shoping-cart{
	padding-left: 50px;
	
}
.search-container{
	padding-left: 50px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
 
  position: relative;
  margin: auto;
  
}

.aboutservices{
	
      text-align: center;
     background-color:azure;
	 margin-bottom: 30px;
	
}
hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
 
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
   color:brown;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration:3600s;
	
}

@-webkit-keyframes fade {
  from {opacity: .0}
  to {opacity: 0}
}

@keyframes fade {
  from {opacity: .0}
  to {opacity: 0}
}
.col-lg-12{
	margin-bottom: 60px;
	margin-top: 10px;
}

.product-wrapper{
    min-height: 700px;
   display: flex;
   margin-right: 30px;
    margin-left: 30px;
}
.shape{
	
	padding-top: 500px;
	float: right;
}
.best-product-caption{
	padding-top: 300px;
	text-align: center;
}
.collection{
	     
	    padding-top: 150px;
}
.x1xollection{
	    text-align: center;
	   padding-top: 100px;
}
.x3col{
	margin-left: 20px;
	margin-top: 60px;
	
	text-align: center;
}
.single-img{
	float: right;
	padding-left: 30px;
}
.best-right-cap
{
   margin-top: 30px;	
}
.latest-area{
	min-height: 400px;
	margin-top: 100px;
}
.shop-method-area
{
   padding: 100px;
   text-align: center;
}
.single-method{
	    padding-left: 40px;
}
.If-padding{
	padding-left: 30px;
    padding-right: 30px;
	
	
}
.gellary-area{
	min-height: 400px;
}

.d-flex
{
	max-height: 150px;
	
}
.img{
	
	 max-height: 150px;
	
	border: 1px solid #eee;
    border-radius: 3px;
    max-width: 150px;
}
.media-body
{
	text-align: center;
	margin-top: 70px;
	padding-left:   30px;
}
.slidecontainer
{
	padding-top: 30px;   
	text-align: center;
		
}
.padding
{
	padding-top: 40px;  
	
}
.cartsection
{
	padding: 50px 0;
}
.button{
	max-width: 200px;
}
.bottom-button
{
	margin-top: 30px;
    margin-bottom: 30px;
    vertical-align: middle;
    align-self: center;
}
.total{
	
	float: right !important;
}
.carttotal{
	margin-top: 40px;
	
   
}
.latest-product{
	max-height: 200px; 
	max-width: 200px; 
	
}
.table
{
	color: white;
}
.imgplace
{
	position: relative;
  text-align: center;
}
.top-right{
	position: absolute;
  top: 8px;
  right: 16px;
}
.mycart{
	padding: 10px;
}
